
h1 {
    text-align: center ;
    font-size: 25px;
    color: rgba(255, 0, 200, 0.39);
}
body {
    background-color: rgba(0, 0, 0, 0) ;
}
.jogo {
    width: 20%;
}
.ini{
    background-image: url("Carol-é-uma-das-armas-do-Brasil-para-a-estreia-do-Grand-Prix-Brasil-X-Bélgica.jpg");
}
.button{
display: inline-block;
}
